html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #888;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}


* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
}

.debug {
    /*border: dashed red 1px;*/
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
}

#matrix {
    background-color: #333;
    box-shadow: 1px 1px 10px #333;
    border-collapse: separate;
    border-spacing: 5px;
}

#matrix .num,
#matrix .led {
    width: 25px;
    min-width: 25px;
    max-width: 25px;

    height: 25px;
    min-height: 25px;
    max-height: 25px;
    cursor: pointer;
}

#matrix .num {
    color: goldenrod;
    text-align: center;
    font-size: 15px;
}


#matrix .led {
    border-radius: 50%;
    box-shadow: inset 0 0 1px #666666;
    background: #808080 radial-gradient(ellipse at 42% 42%, #999999 0%, #808080 50%);
}

.leds-case {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0 0 1px #333333;
    /*todo before hover*/
    background: #cccccc radial-gradient(circle at center, lightgray 0%, darkgray 100%);
}

#matrix .led:hover,
.leds-case:hover {
    box-shadow: 0 0 1px #000;
    /*todo hover*/
}

/*Color themes*/
body.red-leds #matrix .num:hover,
body.red-leds #matrix .num.hover {
    color: #f33;
    font-weight: bold;
}

#red-leds,
body.red-leds #matrix .led.active {
    background: #f00 radial-gradient(ellipse at 42% 42%, #fff 0%, #f30 25%, #f00 50%) !important;
}

body.yellow-leds #matrix .num:hover,
body.yellow-leds #matrix .num.hover {
    color: #fc3;
    font-weight: bold;
}

#yellow-leds,
body.yellow-leds #matrix .led.active {
    background: #fc0 radial-gradient(ellipse at 42% 42%, #fff 0%, #fc0 25%, #fc0 50%);
}

body.green-leds #matrix .num:hover,
body.green-leds #matrix .num.hover {
    color: #3f3;
    font-weight: bold;
}

#green-leds,
body.green-leds #matrix .led.active {
    background: #0f0 radial-gradient(ellipse at 42% 42%, #fff 0%, #0f3 25%, #0f0 50%);
}

body.blue-leds #matrix .num:hover,
body.blue-leds #matrix .num.hover {
    color: #03f;
    font-weight: bold;
}

#blue-leds,
body.blue-leds #matrix .led.active {
    background: #00f radial-gradient(ellipse at 42% 42%, #fff 0%, #03f 25%, #00f 50%);
}

body.white-leds #matrix .num:hover,
body.white-leds #matrix .num.hover {
    color: #fff;
    font-weight: bold;
}

#white-leds,
body.white-leds #matrix .led.active {
    background: #fff radial-gradient(ellipse at 42% 42%, #fff 0%, #eee 25%, #fff 50%);
}

body.black-leds #matrix .num:hover,
body.black-leds #matrix .num.hover {
    color: #000;
    font-weight: bold;
}

#black-leds,
body.black-leds #matrix .led.active {
    background: #333 radial-gradient(ellipse at 42% 42%, #333 0%, #000 25%, #333 50%);
}

button {
    padding: 5px;
    margin: 5px;
    border: solid 1px lightgray;
    border-radius: 5px;
}